<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.vdem.square"
    versionCode = "11"
    version     = "1.0.0" >
    <name>Square</name>

  <description>
      Description
  </description>

  <author href="https://build.phonegap.com" email="vdem@in-syst.ru">
      Vladimir Demidovich
  </author>
    
    <icon src="icons/pattern-squares-and-octagons-1.png" />
    
    <access origin="*"/>
   
    <plugin name="cordova-plugin-device-motion"  />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

</widget>
